.running_title {  font-family: Arial,'Helvetica Neue', Helvetica, sans-serif; font-size: 24px; font-style: normal; color: #00FF00}
.maintext {  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal; font-variant: normal}
